<p>
  The <strong>GBIF North America DNA Publishing Workshop</strong> is designed for researchers and collection managers looking to publish DNA-derived data using established biodiversity data standards. This workshop will introduce key data standards, tools, and workflows for sharing environmental and specimen-derived DNA data through the biodiversity data aggregator GBIF. 
</p>
<p>
  Participants will gain hands-on experience with data mapping in IPT, learn how to work with the DNA-Derived Data extension, and explore the GBIF Metabarcoding Data Toolkit (MDT). This is not a beginner’s workshop—attendees should have their own data and a basic understanding of biodiversity informatics. 
</p>
<p align="center">
  <em>
    For background on best practices in publishing DNA data, we recommend reading 
    "<a href="https://doi.org/10.35035/DOC-VF1A-NR22">Publishing DNA-derived data through biodiversity data platforms</a>".
  </em>
</p>