<div class="row">
  <div class="col-md-12">
    <h3>Workshop Schedule</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250417T150000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">10:00 - 12:00 PM CT</a></td>
        <td><strong>Introduction to DNA Data</strong></td>
      </tr>
      <tr>
        <td></td>
        <td>Review of key literature and standards (MIxS, DwC, MDT, NCBI, iBOL)</td>
      </tr>
      <tr>
        <td></td>
        <td>Overview of DNA data types and publishing challenges</td>
      </tr>
      <tr>
        <td></td>
        <td>Introduction to example datasets</td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250417T170000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">12:00 - 12:10 PM CT</a></td>
        <td><strong>Break</strong></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250417T171000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">12:10 - 2:30 PM CT</a></td>
        <td><strong>Deep Dive into Data Standards & Modeling</strong></td>
      </tr>
      <tr>
        <td></td>
        <td>Introduction to Darwin Core (DwC) DNA extension</td>
      </tr>
      <tr>
        <td></td>
        <td>Exploring real-world datasets and metadata structures</td>
      </tr>
      <tr>
        <td></td>
        <td>Conceptual modeling of participant datasets</td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250417T193000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">2:30 - 2:45 PM CT</a></td>
        <td><strong>Break</strong></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250417T194500&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">2:45 - 4:00 PM CT</a></td>
        <td><strong>Publishing DNA Data</strong></td>
      </tr>
      <tr>
        <td></td>
        <td>Demo: Using IPT to publish data with the DNA extension</td>
      </tr>
      <tr>
        <td></td>
        <td>Demo: Using the Metabarcoding Data Toolkit (MDT) for DNA data</td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250417T210000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">4:00 - 4:15 PM CT</a></td>
        <td><a href="{{ site.post_survey }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250417T211500&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">4:15 PM CT</a></td>
        <td><strong>End of Workshop</strong></td>
      </tr>
    </table>
  </div>
</div>
