<div class="row">
  <div class="col-md-12">
    <h3>Workshop Schedule</h3>
    <table class="table table-striped">
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T140000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">9:00 - 9:30 AM CT</a></td>
        <td><a href="{{ site.pre_survey }}" target="_blank">Startup & Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T143000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">9:30 - 10:15 AM CT</a></td>
        <td><a href="https://sunray1.github.io/2025-05-09-GBIF-NA-DNAPublishing/01-introduction-to-dna-data/index.html" target="_blank"><strong>Introduction to DNA Data</strong></a></td>
      </tr>
      <tr>
        <td></td>
        <td>Overview of DNA data types and publishing challenges</td>
      </tr>
      <tr>
        <td></td>
        <td>Review of key literature and standards (MIxS, DwC, MDT, NCBI, iBOL)</td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T151500&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">10:15 - 10:45 AM CT</a></td>
        <td><a href="https://sunray1.github.io/2025-05-09-GBIF-NA-DNAPublishing/02-example-datasets/index.html" target="_blank"><strong>Introduction to Example Datasets</strong></a></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T154500&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">10:45 - 11:00 AM CT</a></td>
        <td><strong>Break</strong></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T160000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">11:00 - 11:30 AM CT</a></td>
        <td><a href="https://sunray1.github.io/2025-05-09-GBIF-NA-DNAPublishing/03-introduction-to-dwc-dna-extension/index.html" target="_blank"><strong>Introduction to the Darwin Core DNA extension</strong></a></td>
      </tr>
      <tr>
        <td></td>
        <td>Background & History</td>
      </tr>
      <tr>
        <td></td>
        <td>General Approach to Using the Extension</td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T163000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">11:30 - 12:30 PM CT</a></td>
        <td><strong>Lunch</strong></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T173000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">12:30 - 2:30 PM CT</a></td>
        <td><a href="https://sunray1.github.io/2025-05-09-GBIF-NA-DNAPublishing/04-dataset-mapping/index.html" target="_blank"><strong>Dataset Mapping</strong></a></td>
      </tr>
      <tr>
        <td></td>
        <td>Explore real-world datasets and metadata structures</td>
      </tr>
      <tr>
        <td></td>
        <td>Support for participant datasets or use of example datasets</td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T193000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">2:30 - 2:45 PM CT</a></td>
        <td><strong>Break</strong></td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T194500&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">2:45 - 3:45 PM CT</a></td>
        <td><a href="https://sunray1.github.io/2025-05-09-GBIF-NA-DNAPublishing/05-publishing-dna-data/index.html" target="_blank"><strong>Publishing DNA Data</strong></a></td>
      </tr>
      <tr>
        <td></td>
        <td>Demo: Using IPT to publish data with the DNA extension</td>
      </tr>
      <tr>
        <td></td>
        <td>Demo: Using the Metabarcoding Data Toolkit (MDT) for DNA data</td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T204500&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">3:45 - 4:00 PM CT</a></td>
        <td>Wrapup</td>
      </tr>
      <tr>
        <td><a href="https://www.timeanddate.com/worldclock/converter.html?iso=20250509T210000&p1=tz_et&p2=tz_ct&p3=tz_mt&p4=tz_pt" target="_blank">4:00 PM CT</a></td>
        <td><strong>End of Workshop</strong></td>
      </tr>
    </table>
  </div>
</div>
