<p id="who">
  <strong>Who:</strong>
  This workshop is designed for collection managers and researchers who are already familiar with DNA science but need guidance on publishing DNA-derived data using community standards. Participants should be aware of the Integrated Publishing Toolkit (IPT) and have their own dataset to work with, though a standard dataset will also be provided for examples.  

  This is <strong>not</strong> a beginner’s workshop—attendees should have a working knowledge of DNA barcoding, environmental DNA (eDNA), or related molecular techniques but may be unfamiliar with data standards such as MIxS, DwC, and MDT.  
</p>
